# Student Loan Risk with Deep Learning

In [3]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

ModuleNotFoundError: No module named 'tensorflow'

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [3]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [4]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [5]:
# Define the target set y using the credit_ranking column
y = loans_df['credit_ranking']

# Display a sample of y
y.head()

0    0
1    0
2    0
3    1
4    0
Name: credit_ranking, dtype: int64

In [6]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.copy()
X.drop("credit_ranking", axis=1, inplace=True)

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [7]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
# NOTE I am doing 42 because it is the answer to life, the universe, and everything. Also I like the meme.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [8]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [9]:
# Define the number of inputs (features) to the model
input_nodes = len(X.columns)

# Review the number of features
input_nodes

11

In [15]:
# NOTE THESE ARE EDITABLE HYPERPARAMETERS, TUNE THIS SECTION TO TUNE MODEL

# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 8

# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 5

# Define the number of neurons in the output layer
output_nodes = 1

In [16]:
# Create the Sequential model instance
nn = tf.keras.models.Sequential()

# Add the first hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=input_nodes, activation="relu")
)

# Add the second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(tf.keras.layers.Dense(units=output_nodes, activation="sigmoid"))

In [17]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 96

 dense_4 (Dense)             (None, 5)                 45

 dense_5 (Dense)             (None, 1)                 6

=================================================================
Total params: 147 (588.00 Byte)
Trainable params: 147 (588.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [18]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
WARNING:tensorflow:From c:\Users\brand\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\brand\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

38/38 [==============================] - 1s 1ms/step - loss: 0.7813 - accuracy: 0.3870
Epoch 2/50
38/38 [==============================] - 0s 1ms/step - loss: 0.7316 - accuracy: 0.4404
Epoch 3/50
38/38 [==============================] - 0s 946us/step - loss: 0.6967 - accuracy: 0.5004
Epoch 4/50
38/38 [==============================] - 0s 973us/step - loss: 0.6699 - accuracy: 0.5546
Epoch 5/50
38/38 [==============================] - 0s 946us/step - loss: 0.6471 - accuracy: 0.6030
Epoch 6/50
38/38 [==============================] - 0s 865us/step - loss: 0.6281 - accuracy: 0.6589
Epoch 7/50
38/38 [==============================] - 0s 892us/step - loss: 0.6114 - accuracy: 0.6947
Epoch 8/50
38/38 [==============================] - 0s 892us/step - loss: 0.5951 - accuracy: 0.7139
Epoch 9/50
38/38 [==============================] - 0s 892us/step - loss: 0.5803 - accuracy: 0.7356
Epoch 10/50
38/38 [==============================] - 0s 865us/step - loss: 0.5669 - accuracy: 0.7431
Epoch 11/50
38/38 [==============================] - 0s 919us/step - loss: 0.5557 - accuracy: 0.7465
Epoch 12/50
38/38 [==============================] - 0s 919us/step - loss: 0.5466 - accuracy: 0.7481
Epoch 13/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5390 - accuracy: 0.7481
Epoch 14/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5329 - accuracy: 0.7465
Epoch 15/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5269 - accuracy: 0.7448
Epoch 16/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5228 - accuracy: 0.7448
Epoch 17/50
38/38 [==============================] - 0s 973us/step - loss: 0.5193 - accuracy: 0.7481
Epoch 18/50
38/38 [==============================] - 0s 838us/step - loss: 0.5162 - accuracy: 0.7473
Epoch 19/50
38/38 [==============================] - 0s 865us/step - loss: 0.5131 - accuracy: 0.7473
Epoch 20/50
38/38 [==============================] - 0s 892us/step - loss: 0.5110 - accuracy: 0.7498
Epoch 21/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5091 - accuracy: 0.7531
Epoch 22/50
38/38 [==============================] - 0s 946us/step - loss: 0.5076 - accuracy: 0.7531
Epoch 23/50
38/38 [==============================] - 0s 892us/step - loss: 0.5050 - accuracy: 0.7531
Epoch 24/50
38/38 [==============================] - 0s 892us/step - loss: 0.5037 - accuracy: 0.7531
Epoch 25/50
38/38 [==============================] - 0s 946us/step - loss: 0.5024 - accuracy: 0.7540
Epoch 26/50
38/38 [==============================] - 0s 892us/step - loss: 0.5013 - accuracy: 0.7565
Epoch 27/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4999 - accuracy: 0.7573
Epoch 28/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4985 - accuracy: 0.7540
Epoch 29/50
38/38 [==============================] - 0s 919us/step - loss: 0.4971 - accuracy: 0.7590
Epoch 30/50
38/38 [==============================] - 0s 946us/step - loss: 0.4961 - accuracy: 0.7573
Epoch 31/50
38/38 [==============================] - 0s 919us/step - loss: 0.4951 - accuracy: 0.7615
Epoch 32/50
38/38 [==============================] - 0s 919us/step - loss: 0.4943 - accuracy: 0.7606
Epoch 33/50
38/38 [==============================] - 0s 892us/step - loss: 0.4931 - accuracy: 0.7606
Epoch 34/50
38/38 [==============================] - 0s 919us/step - loss: 0.4921 - accuracy: 0.7623
Epoch 35/50
38/38 [==============================] - 0s 865us/step - loss: 0.4916 - accuracy: 0.7615
Epoch 36/50
38/38 [==============================] - 0s 865us/step - loss: 0.4905 - accuracy: 0.7623
Epoch 37/50
38/38 [==============================] - 0s 838us/step - loss: 0.4901 - accuracy: 0.7640
Epoch 38/50
38/38 [==============================] - 0s 865us/step - loss: 0.4896 - accuracy: 0.7631
Epoch 39/50
38/38 [==============================] - 0s 838us/step - loss: 0.4885 - accuracy: 0.7681
Epoch 40/50
38/38 [==============================] - 0s 838us/step - loss: 0.4883 - accuracy: 0.7648
Epoch 41/50
38/38 [==============================] - 0s 865us/step - loss: 0.4876 - accuracy: 0.7606
Epoch 42/50
38/38 [==============================] - 0s 865us/step - loss: 0.4871 - accuracy: 0.7673
Epoch 43/50
38/38 [==============================] - 0s 865us/step - loss: 0.4863 - accuracy: 0.7673
Epoch 44/50
38/38 [==============================] - 0s 892us/step - loss: 0.4857 - accuracy: 0.7706
Epoch 45/50
38/38 [==============================] - 0s 892us/step - loss: 0.4853 - accuracy: 0.7698
Epoch 46/50
38/38 [==============================] - 0s 892us/step - loss: 0.4849 - accuracy: 0.7706
Epoch 47/50
38/38 [==============================] - 0s 865us/step - loss: 0.4837 - accuracy: 0.7723
Epoch 48/50
38/38 [==============================] - 0s 865us/step - loss: 0.4843 - accuracy: 0.7706
Epoch 49/50
38/38 [==============================] - 0s 875us/step - loss: 0.4833 - accuracy: 0.7681
Epoch 50/50
38/38 [==============================] - 0s 865us/step - loss: 0.4829 - accuracy: 0.7731

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [20]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.5381 - accuracy: 0.7350 - 133ms/epoch - 10ms/step
Loss: 0.5381239652633667, Accuracy: 0.7350000143051147

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [22]:
# Set the model's file path
file_path = Path("saved_models/student_loans.keras")

# Export your model to a keras file
nn.save(file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [23]:
# Set the model's file path
file_path = Path("saved_models/student_loans.keras")

# Load the model to a new object
nn_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [24]:
# Make predictions with the test data
predictions = nn_imported.predict(X_test_scaled)

# Display a sample of the predictions
print(predictions[:5])

13/13 [==============================] - 0s 917us/step
[[0.33105332]
 [0.1824851 ]
 [0.6040078 ]
 [0.31158972]
 [0.7475941 ]]

In [26]:
# Save the predictions to a DataFrame and round the predictions to binary results
predictions_binary = (predictions > 0.5).astype(float)
df_predictions = pd.DataFrame(predictions_binary, columns=['predictions'])

df_predictions

     predictions
0            0.0
1            0.0
2            1.0
3            0.0
4            1.0
..           ...
395          1.0
396          1.0
397          1.0
398          0.0
399          1.0

[400 rows x 1 columns]

### Step 4: Display a classification report with the y test data and predictions

In [27]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, df_predictions))

              precision    recall  f1-score   support

           0       0.68      0.76      0.72       178
           1       0.79      0.71      0.75       222

    accuracy                           0.73       400
   macro avg       0.74      0.74      0.73       400
weighted avg       0.74      0.73      0.74       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**

To build a student loan recommendation system, you'll need to gather personal data like age, location, and dependents to identify suitable loan types. Academic details, including GPA, help assess the student’s graduation prospects and potential job prospects for loan repayment. Additionally, financial information such as income and credit score is crucial to evaluate the risk of loan default.

**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**

A content-based filtering system is ideal for recommending student loans. It compares the descriptors in each user profile, constructed from previously collected data, with available loans. This method matches loans to students based on how well their profiles align with the loan characteristics, making it highly suitable for personalized recommendations.


**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**

Challenge 1: Data Privacy. People often hesitate to share personal information necessary for building user profiles and recommending loans. It's crucial to consider the storage and potential deletion of this private data.

Challenge 2: Historical Data. The lack of sufficient data can impair the model's ability to make accurate predictions. Since the model must be trained on user data before it exists, collecting this data presents a paradox. Potential borrowers might resist providing their information for a model that doesn't yet exist, possibly submitting inaccurate data that degrades the model's quality. Alternatively, using mock data could introduce biases.